.container{
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  min-width: 250px;
  background-color: #f1f5f8;
  /* background: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px; */
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}